
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/*---------------------------------------------------------------LOGO------------------------------------------------------------------------------------*/

.color_logo{

    background-color: #9c9c9c;
    background-image: url("IMAGENES/imagenReloj.jpeg");

    height: 200px;
    font-family: 'Josefin Sans', sans-serif;

}

#titulo{
    margin-top: 70px;
    font-size: 30px;
}

/*---------------------------------------------------------------NAV------------------------------------------------------------------------------------*/
.tu_clase{
    color:rgb(0, 204, 240);
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.tu_clase:hover{

    color: rgb(245, 250, 251);
}
/*---------------------------------------------------------------HEADER------------------------------------------------------------------------------------*/

.carousel-item{

    height: 300px;
}
/*
.imagenes_carrusel {
    position: relative;
    top:0;
    left: 0;
}*/

.carousel-item img {
    top:0px;
   position: absolute;
    left: 0; 
    bottom: 500px;
  /*  width: 800px;*/
  height: 420px;


}




/* SIRVE PARA CAMBIAR PROPIEDADES CUANDO EL MOUSE PARA POR ENCIMA DEL ELEMENO O CLASE O ID APLICADO
h1:hover {
    color: coral;
}
*/


/* EL IMPORTA PRIORIZA LAS PROPIEDADES QUE TENGAN !IMPORTANT 
.tu_clase {
    color: crimson !important;
    font-size: 1em;
}
*/