
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/*---------------------------------------------------------------LOGO------------------------------------------------------------------------------------*/

.color_logo{

    background-color: #9c9c9c;
    background-image: url("IMAGENES/imagenReloj.jpeg");

    height: 200px;
    font-family: 'Josefin Sans', sans-serif;

}

#titulo{
    margin-top: 70px;
    font-size: 30px;
}

/*---------------------------------------------------------------NAV------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------HEADER------------------------------------------------------------------------------------*/

.imagenes_carrusel{

    height: 300px;

    width: auto;
}