
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/*---------------------------------------------------------------LOGO------------------------------------------------------------------------------------*/

.color_logo{

    background-color: #9c9c9c;
    background-image: url("IMAGENES/imagenReloj.jpeg");

    height: 200px;
    font-family: 'Josefin Sans', sans-serif;

}

#titulo{
    margin-top: 70px;
    font-size: 30px;
}

/*---------------------------------------------------------------NAV------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------HEADER------------------------------------------------------------------------------------*/

.carousel-item{

    height: 300px;
}
/*
.imagenes_carrusel {
    position: relative;
    top:0;
    left: 0;
}*/

.carousel-item img {
    top:0;
    position: absolute;
    left: 0; 
    bottom: 500px;

}